@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    font-family: monospace;
    font-size: 120%;
    letter-spacing: 0px;
}
*:focus {
    outline: none;
   }

@layer components{
    .qwik-sidebar-item-component {
        @apply opacity-70 font-medium ease-in duration-75 cursor-pointer flex gap-5 flex-wrap align-middle;
    }

    .qwik-button-primary{
        @apply p-2 px-6 bg-purple-600 hover:bg-purple-800 text-white rounded-md text-[15px] h-[40px] min-w-[50px] w-max flex gap-1 content-center items-center justify-center
    }

    .qwik-button-default{
        @apply p-2 px-6 bg-gray-200 hover:bg-gray-800 text-gray-900 hover:text-white rounded-md text-[15px] h-[40px] w-max flex gap-1 content-center items-center justify-center
    }

    .qwik-input-src{
        @apply flex justify-between gap-2 px-3 bg-gray-100 text-[14px] text-slate-900  rounded-md relative  h-[44px] w-[370px] 
    }
}